/* FONTS */
@font-face { 
  font-family: Xaloc; 
  src: url("/fonts/XalocText.otf") format('opentype'); 
  src: url("/fonts/XalocText.ttf") format('ttf'); 
  font-weight: normal; 
}
@font-face { 
  font-family: Xaloc; 
  src: url("/fonts/XalocText-Italic.otf") format('opentype'); 
  src: url("/fonts/XalocText-Italic.ttf") format('ttf'); 
  font-style: italic; 
}
@font-face { 
  font-family: Xaloc; 
  src: url("/fonts/XalocText-Bold.otf") format('opentype'); 
  src: url("/fonts/XalocText-Bold.ttf") format('ttf'); 
  font-weight: 700; 
}
@font-face { 
  font-family: Xaloc; 
  src: url("/fonts/XalocText-Heavy.otf") format('opentype'); 
  src: url("/fonts/XalocText-Heavy.ttf") format('ttf'); 
  font-weight: 900; 
}

@font-face { 
  font-family: Xaloc; 
  src: url("/fonts/XalocText-BoldItalic.otf") format('opentype'); 
  src: url("/fonts/XalocText-BoldItalic.ttf") format('ttf'); 
  font-style: italic; 
  font-weight: 700; 
}
@font-face { 
  font-family: Xaloc; 
  src: url("/fonts/XalocText-HeavyItalic.otf") format('opentype'); 
  src: url("/fonts/XalocText-HeavyItalic.ttf") format('ttf'); 
  font-style: italic; 
  font-weight: 900; 
}

@font-face { 
  font-family: 'DIN Pro'; 
  src: url("/fonts/DINPro-Medium.ttf") format('ttf'); 
  font-weight: normal; 
  font-weight: 400;
}

@font-face { 
  font-family: 'DIN Pro'; 
  src: url("/fonts/DINPro-Italic.ttf") format('ttf'); 
  font-style: italic; 
  font-weight: 400;
}

@font-face { 
  font-family: 'DIN Pro'; 
  src: url("/fonts/DINProBold700.ttf") format('ttf'); 
  font-weight: 700; 
}

@font-face { 
  font-family: 'DIN Pro'; 
  src: url("/fonts/DINProBlack900.ttf") format('ttf'); 
  font-weight: 900; 
}

@font-face { 
  font-family: 'DIN Pro'; 
  src: url("/fonts/DINProBoldItalic700.ttf") format('ttf'); 
  font-style: italic; 
  font-weight: 700; 
}
@font-face { 
  font-family: 'DIN Pro'; 
  src: url("/fonts/DINProBlackItalic900.ttf") format('ttf'); 
  font-style: italic; 
  font-weight: 900; 
}

body { 
  font-size: 16px; 
  font-family: 'DIN Pro', lato, sans-serif; 
  color: #576a7c;
  background: #efefef;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Xaloc", serif;
  margin: .25em 0 .25em;
  color: #576a7c;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  border: 1px solid;
  padding: 10px;
}
h2 {
  font-size: 2.5em;
  font-weight: 700;
}
h3 {
  font-size: 2em;
  font-weight: 700;
}
h4 {
  font-size: 1.5em;
  font-weight: 700;
}

p {
  font-size: 1em;
  margin-bottom: 8px;
}

#logo {
  width:100%;
  max-width: 350px;
}

#header {
  text-align:center;
  margin-bottom:15px
}

#page-container {
  max-width:850px;
  /* padding: 40px 60px; */
  margin:30px auto;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.result-section {
  margin: 20px 0;
}


button {
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  background-color: #e0e0e0;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: none;
}
button:hover,
button:focus {
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  background-color: #d5d5d5;
  cursor: pointer;
}


/* HIGHCHARTS */
.highcharts-exporting-group {
  transform: translate(12px, -13px);
}


@media (max-width:768px){
  #page-container {
    margin: 0 auto;
    /* padding: 40px; */
  }
}